

html ,body{
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

#container{
    width: 1000px;
    background-color: rosybrown;
    padding: 10px;
    
}

#header{
    text-align: center;
    background-color: salmon;
    margin-bottom: 10px;

}

#nav{
    background-color: seashell;
    text-align: center;
    margin: auto;
    

}

#content{


}

#hobby{


}

#footer{


}

